<div class="container">
    <h3>NgRx Effects showcasing</h3>
    <p>Problem Statement: We are making an async calls to 3 services and showing the results on button click.</p>
    <ul>
        <li>
            Effetcs: In angular ecosystem, components are reposnible for interacting with external resources through
            services. With NGRX Effects, it provide a way to interact with services and isolate them from components.
        </li>
        <li> 
            Effects are used to handle tasks such as fetching data, long-running tasks that produce multiple events and
            so on which components don't need to know about.
        </li>
        <li>
            Effects isolate side effects from components, allowing for more pure components that select state and
            dispatch actions.
        </li>
        <li>
            Effects are long-running services that listen to an observable of every action dispatched from the Store.
        </li>
        <li>
            Effects filter those actions based on the type of action they are interested in. This is done by using an
            operator.
        </li>
        <li>
            Effects perform tasks, which are synchronous or asynchronous and return a new action.
        </li>
    </ul>


    <div class="p-5 mb-4 bg-light border rounded-3">
        <p class="lead">

            <button type="button" class="btn btn-info" (click)="fetchData()">Button to fetch data</button>
        </p>
        <div class="row">
            <div class="col-sm">
                <div class="data-container">
                    <h2>Star Wars Planets</h2>
                </div>

                <div class="data-container" *ngFor="let planets of starWarPlanets$ | async">
                    <span>
                        > {{planets.name}}
                    </span>
                </div>
            </div>

            <div class="col-sm">
                <div class="data-container">
                    <h2>Star Wars People</h2>
                </div>

                <div class="data-container" *ngFor="let people of starWarPeople$ | async">
                    <span>
                        > {{people.name}}
                    </span>
                </div>
            </div>

            <div class="col-sm">
                <div class="data-container">
                    <h2>Star Wars Starships</h2>
                </div>

                <div class="data-container" *ngFor="let starships of starWarStarships$ | async">
                    <span>
                        > {{starships.name}}
                    </span>
                </div>
            </div>
        </div>
    </div>








</div>