<div class="container">
    <h3>Search functionality with Observables</h3>
    <p>Problem Statement: If we observe while making our search, we notice each letter we type fire’s a request to the
        server and we don’t want it to fire a request immediately we type. We want it to delay a little before sending a
        request because we may be typing a long word. To handle this, we need to import debounceTime and
        distinctUntilChanged.</p>
    <ul>
        <li>debounceTime : The debounceTime operator emits the latest value and helps in delaying the values transmitted
            by the root Observable for the specified time.</li>
        <li> distinctUntilChanged : The distinctUntilChanged Returns an observable series that carries only
            distinguished adjacent elements according to the key selector and the compare.</li>
        <li>
            finalize : RxJS finalize operator which will help you to stop the loader / anything that we put in finalize
            case in both cases, when the observable execution completes in success or when it fails.
        </li>
    </ul>
    
    <div class="p-5 mb-4 bg-light border rounded-3">
        <h1 class="display-4">Sample Todo List</h1>
        <p class="lead">This is a simple place holder to fetch data from api using a button, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p class="lead">
            <button type="button" class="btn btn-info" (click)="getSampleData()">Button to fetch data</button>
        </p>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">UserId</th>
                <th scope="col">Completed</th>
              </tr>
            </thead>
            <tbody>
              
                <tr *ngFor="let list of sampleTodoList">
                    <td>{{list.id}}</td>
                    <td>{{list.title}}</td>
                    <td>{{list.userId}}</td>
                    <td>{{list.completed}}</td>
                </tr>
            </tbody>
          </table>

    </div>
      

    <div class="row justify-content-center align-items-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1>Search to know more about your favourite books</h1>
            <input [formControl]="queryField" id="keyword" type="search" class="form-control">
        </div>
    </div>
    
    

    <div class="contents">
        <div class="container-fluid mt-4">
            <div *ngIf="items" class="col-12 mt-5">
                <div class="row justify-content-around">
                    <div *ngFor="let product of items" class="col-lg-3 col-md-6 col-sm-12 book-display">
                        <div class="image">
                            <img *ngIf="product.volumeInfo.imageLinks" src="{{product.volumeInfo.imageLinks.thumbnail}}"
                                alt="" />
                        </div>
                        <div *ngFor="let aut of product.volumeInfo.authors">
                            <span> Authors: {{ aut }}</span>
                        </div>
                        <div class="details">
                            <span>Title: {{ product.volumeInfo.title }}</span> <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>